*.iml
.gradle
/local.properties
/.idea/workspace.xml
/.idea/libraries
.DS_Store
/build
/captures
app/src/serveur/__pycache__/Kmean.cpython-35.pyc
app/src/serveur/__pycache__/Bdd.cpython-35.pyc
projectFilesBackup/.idea/workspace.xml
.idea/runConfigurations.xml
.idea/vcs.xml
app/src/serveur/IMG-Course92601520.png
app/src/serveur/IMG-Ticket-482299905.png
app/src/serveur/Kmean.py
